BOT_TOKEN=

POSTGRES_DATABASE_HOST=localhost
POSTGRES_DATABASE_NAME=postgres
POSTGRES_DATABASE_PORT=5432

POSTGRES_DATABASE_USER_NAME=postgres
POSTGRES_DATABASE_USER_PASS=

REDIS_DATABASE_HOST=localhost
REDIS_DATABASE_PORT=6379

REDIS_DATABASE_USER_NAME=default
REDIS_DATABASE_USER_PASS=
