@font-face {
	font-family: 'Cherry Bomb One';
	font-display: swap;

	src: url('/fonts/display-names/CherryBombOne.ttf') format('truetype');
}

@font-face {
	font-family: 'Chicle';
	font-display: swap;

	src: url('/fonts/display-names/Chicle.ttf') format('truetype');
}

@font-face {
	font-family: 'Museo Moderno';
	font-display: swap;

	src: url('/fonts/display-names/MuseoModerno.ttf') format('truetype');
}

@font-face {
	font-family: 'Neo Castel';
	font-display: swap;

	src: url('/fonts/display-names/NeoCastel.ttf') format('truetype');
}

@font-face {
	font-family: 'Pixelify Sans';
	font-display: swap;

	src: url('/fonts/display-names/PixelifySans.ttf') format('truetype');
}

@font-face {
	font-family: 'Sinestre';
	font-display: swap;

	src: url('/fonts/display-names/Sinestre.ttf') format('truetype');
}

@font-face {
	font-family: 'Zilla Slab';
	font-display: swap;

	src: url('/fonts/display-names/ZillaSlab.ttf') format('truetype');
}
