AUTH_SECRET=

BASE_DASHBOARD_URL=http://localhost:5173
BASE_URL=http://localhost:3001

CLIENT_ID=
CLIENT_SECRET=
CLIENT_TOKEN=

COOKIE_SALT=
COOKIE_SECRET=

ENCRYPTION_SECRET=

POSTGRE_SQL_VANGUARD_DATABASE_URL=

SESSIONS_DATABASE_HOST=
SESSIONS_DATABASE_NAME=
SESSIONS_DATABASE_PORT=
SESSIONS_DATABASE_USER=
