AUTH_SECRET=

BASE_DASHBOARD_URL=http://localhost:5173
BASE_URL=http://localhost:3001

BOT_ID=
BOT_SECRET=
BOT_TOKEN=

ENCRYPTION_SECRET=

POSTGRE_SQL_VANGUARD_DATABASE_URL=

SESSION_COOKIE_SALT=
SESSION_COOKIE_SECRET=

SESSIONS_DATABASE_HOST=
SESSIONS_DATABASE_NAME=
SESSIONS_DATABASE_PORT=

SESSIONS_DATABASE_USER_NAME=
SESSIONS_DATABASE_USER_PASSWORD=
